html,
body {
	height: 100%;
	margin: 0;
}

#root {
	min-height: 100%;
	background-image: url("https://images.pexels.com/photos/2388650/pexels-photo-2388650.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260");
	background-size: 105%;
	background-repeat: no-repeat;
}
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 25px;
	text-align: center;
	padding: 3px 0px 0px 0;
	background: #6cf;
}

.details {
	margin-bottom: 20px;
}

.papaya {
	background: papayawhip !important;
}
.white {
	color: white !important;
	padding: 20px 20px 0px 20px !important;
}

.spinner {
	height: 150px;
}

